<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
        {{ partial "head/metadata.html" . }}
        {{ if .Site.Params.plausible }}{{ partial "head/plausible.html" . }}{{ end }}
        {{ partial "head/openGraph.html" . }}
        {{ partial "head/favicons.html" . }}
        {{ partial "head/css.html" . }}
        {{ partial "css/owlCarousel.html" . }}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>

    <body style="font-family: Gotham rounded;">
        {{ with .Site.GetPage "/home" }}
        <section id="top" class="hero is-{{ .Site.Params.home.introHeight | default "fullheight" }}">
            <!-- Hero head section to play nice with Bulma -->
            <div class="hero-head"></div>

            <!-- Computadora -->
            <div class="hero-body p-0 computadora">
                <div class="container-fluid row ">
                    <div class="col-6 {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in two{{ end }}">
                        <img src="img/sitio-web/foto campaña 3.png" alt="Pedro Puerta" style="width: 100%; border: 0; box-shadow: 0 0 0 0;">
                    </div>
                    <div class="col-6 pe-3" style="padding-top: 5rem;">
                        <div class="row justify-content-center d-flex">
                             <!-- Title and tagline -->
                            <h1 class="bold-title {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in one{{ end }}" style="padding-top: 8rem;">
                                <img src="img/logos/PP_color_horizontal.svg" alt="Pedro Puerta" style="width: 100%; border: 0; box-shadow: 0 0 0 0;">
                            </h1>
                            <h1 class="col-6 bold-title {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in three{{ end }}" style="padding-top: 10rem;">
                                <img src="img/logos partidos/Juntos cambiemos.png" alt="Juntos" style="width: 100%; border: 0; box-shadow: 0 0 0 0;">
                            </h1>
                            <div class="{{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in three{{ end }} justify-content-center d-flex" style="padding-top: 2rem;">
                                {{ partial "home/social.html" . }}
                            </div>
                        </div>                
                    </div>
                    
                    
                    <!--<div class="subtitle is-3 {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in two{{ end }}">
                        {{ .Content }}
                    </div>-->
                    <!-- End title and tagline -->
                    <!-- Some social icons -->
                    
                    <!-- End top social icons -->
                </div>
            </div> <!-- End of Hero body -->

             <!-- Telefono -->
             <div class="hero-body p-0 telefono">
                <div class="container-fluid p-0 m-0 ">
                    <div class="col-12 m-0 p-0 {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in two{{ end }}">
                        <img src="img/sitio-web/foto campaña 3.png" alt="Pedro Puerta" style="width: 100%; border: 0; box-shadow: 0 0 0 0;">
                    </div>
                    <div class="col-12 pt-2 ">
                        <!-- Title and tagline -->
                        <h1 class="bold-title {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in one{{ end }}">
                            <img src="img/logos/PP_color_horizontal.svg" alt="Pedro Puerta" style="width: 100%; border: 0; box-shadow: 0 0 0 0;">
                        </h1>
                        <div class="row justify-content-center d-flex">
                            <h1 class="col-6 bold-title {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in three{{ end }}">
                                <img src="img/logos partidos/Juntos cambiemos.png" alt="Pedro Puerta" style="width: 100%; border: 0; box-shadow: 0 0 0 0;">
                            </h1>
                            <div class="{{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in three{{ end }} justify-content-center d-flex pt-3">
                                {{ partial "home/social.html" . }}
                            </div>
                        </div>
                    </div>
                    
                    <!--<div class="subtitle is-3 {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in two{{ end }}">
                        {{ .Content }}
                    </div>-->
                    <!-- End title and tagline -->
                    <!-- Some social icons -->
                    
                    <!-- End top social icons -->
                </div>
            </div> <!-- End of Hero body -->
            {{ end }}

            <div class="hero-foot {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in three{{ end }}">
                <!-- Tell them all about it! -->
                {{ partial "nav.html" . }}
            </div>
        </section> <!-- Done with Hero -->

        {{ with .Site.GetPage "/home" }}
        {{ $home := . }}
        {{ $pages := .Resources.ByType "page" }}

        {{ with .Site.GetPage "/blog" }}
            {{ $pages = $pages | append . }}
        {{ end }}

        {{ with .Site.GetPage "/projects" }}
            {{ $pages = $pages | append . }}
        {{ end }}

        {{ range sort $pages "Params.weight" }}
        {{ if ne .Name "contact.md" }}
        {{ if .File }}
        {{ if eq (os.Stat .File.Dir).Name "projects" }}
            <!-- Now for some cool projects -->
            {{ partial "home/projects.html" . }}
        {{ else if eq (os.Stat .File.Dir).Name "blog" }}
            <!-- Let`s show some blog posts -->
            {{ partial "home/blog.html" . }}
            {{ partial "home/jingles.html" . }}
        {{ else }}

        <!-- Range through all sections in /home execept contact.md -->
        <div class="section" id="{{ .File.TranslationBaseName }}">
            <div class="container">
                <h2 class="title is-2 has-text-centered">{{ .Title | markdownify }}</h2>
                {{ if .Params.Image }}
                <div class="columns">
                    <div class="column is-one-third has-text-centered">
                        {{ with $home.Resources.GetMatch .Params.Image }}
                        {{ with .Resize "320x" }}
                        <img class="img-responsive avatar" src="{{ .Permalink }}" alt="{{ .Name }}" style="border: 0px; box-shadow: 0 0 0 0 !important;">
                        {{ end }}
                        {{ end }}
                    </div>
                    <div class="markdown column align-items-center d-flex" style="font-size: 1.3rem !important;">
                        {{ .Content }}
                    </div>
                </div>
                {{ else }}
                <div class="markdown has-text-centered">
                    {{ .Content }}
                </div>
                {{ end }}
            </div>
            <!-- End About container-->
            {{ partial "top-icon.html" . }}
        </div>
        <div class="container">
            <hr>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        <!-- Let`s chat, shall we? -->
        {{ with .Resources.GetMatch "contact.md" }}
        <div class="section" id="{{ .File.TranslationBaseName }}">
            <div class="container has-text-centered">
                <h2 class="title is-2">{{ .Title | markdownify }}</h2>
                <div class="markdown">
                    {{ .Content }}
                </div>
                {{ if .Site.Params.home.localTime }}
                <p>{{ i18n "index_currentTime" . }} <span id="time"></span>.</p>
                {{ end }}
                {{ with .Site.Params.email }}
                <h3 class="subtitle is-3 has-text-centered top-pad">
                    <a href="mailto:{{ . }}">{{ . }}</a>
                </h3>
                {{ end }}
                {{ partial "home/social.html" . }}
            </div>
            <!-- End Contact container -->
            {{ partial "top-icon.html" . }}
        </div>
        <div class="container">
            <hr>
        </div>
        {{ end }}
        <!-- End Contact section -->
        {{ end }}

        {{ partial "footer/text.html" . }}

        <!-- End of fade in three section -->
        {{ partial "footer/scripts.html" . }}
        {{ partial "js/owlCarousel.html" . }}

        {{ if .Site.Params.home.localTime }}
        <script>
            function update_localtime() {
                const time = new Date().toLocaleTimeString('{{ .Site.Params.home.timeFormat }}', { timeZone: '{{ .Site.Params.home.timeZone }}', timeStyle: 'short' });
                document.getElementById('time').innerHTML = time;
            }
            update_localtime();
            // Updating every second to prevent seconds looking like stood still when timeStyle is ignored.
            setInterval(update_localtime, 1000);
        </script>
        {{ end }}
    </body>

</html>
