{{ with .Site.GetPage "/blog" }}
<div class="section" id="{{ .Title | urlize }}">
    <!-- Begin Blog container -->
    <div class="container p-0">
        {{ if .Site.Params.home.showLatest | default true }}
        <h2 class="title is-2 has-text-centered mb-1">Videos</h2>
        <h5 class=" has-text-centered pb-3">Spots Publicitarios</h5>
        <div class="container-fluid row m-0 p-0 justify-content-center d-flex">
            {{ range first 3 .Pages.ByPublishDate.Reverse }}
            <div class="summary justify-content-center d-flex row mx-1 my-1" style="border: 1px solid gray;box-shadow: 0 0 10px gray; width: 32%; flex: 0 0 auto;"><!--{{ if .Params.date }}{{ .Date.Format (.Site.Params.dateFormat | default "Jan 02, 2006") }}{{ end }}-->
                <h3 class="title is-3 latest-post-title justify-content-center d-flex my-3">
                    <a href="{{ .Params.linkVideo }}" style="text-decoration: none;">{{ .Title | markdownify }}</a>
                </h3>
                    <div class="container justify-content-center d-flex row">
                        <a data-bs-toggle="modal" data-bs-target="#{{.Params.TitleModal}}">
                            <img src="https://i.ytimg.com/vi/LXb3EKWsInQ/maxresdefault.jpg" style="width: 100%;" class="p-0 m-0">
                        </a>
                        <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#{{.Params.TitleModal}}" style="width: 75%; ">
                            Ver Spot
                        </button>
                       
                          <div class="modal fade" id="{{.Params.TitleModal}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen">
                                <div class="modal-content" style="background-color: black; color: white; width: 90%;">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">{{.Title }}</h5>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" >X</button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe src="https://www.youtube.com/embed/LXb3EKWsInQ" title="YouTube video player" frameborder="0" allow=" autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%; height: 100%;"></iframe>
                                    </div>
                                    <div class="modal-footer justify-content-center d-flex">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="width: 25%;">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                    
                    </div> 
                    <!--{{ .Summary }}
                    {{ if .Truncated }}
                    <a href="{{ .Permalink }}">{{ i18n "index_blog_readMore" . }}</a>
                    {{ end }}-->
                    </div>
            </div>
            {{ end }}
        </div>    
        {{ end }}
    </div>
</div>
   <!-- {{ if .Site.Params.home.showAllPosts }}
    <div class="section" id="all-posts">
        <div class="container">
            <h2 class="title is-2 top-pad">{{ i18n "index_blog_allPosts" . }}</h2>
            {{if .Site.Params.home.allPostsArchiveFormat}}
                {{ partialCached "blog/archive.html" .}}
            {{else}}
                {{ partialCached "blog/li.html" . }}
            {{end}}
        </div>
    </div>
    {{ else }}
        <div class="container has-text-centered top-pad">
            <a href="{{ .Permalink }}">{{ i18n "index_blog_allPosts" . }}</a>
        </div>
    {{ end }}
    -->
<!-- End Blog container -->
{{ partial "top-icon.html" . }}

<!-- End Blog section -->
<div class="container"><hr></div>
{{ end }}
