<div class="social-icons">
    {{ range .Site.Params.social }}
    <a href="{{ .url }}" {{ .html_attributes | safeHTMLAttr }} style="text-decoration: none;">
        <i class="{{ .icon_pack}} fab fa-{{ .icon}} social-iconos" style="font-size: 2rem; color: {{.color}}"></i>
    </a>
    {{ end }}
</div>
